body{
    background-color: rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-family: roboto,sans-serif;
}
p
{

color:rgb(14, 146, 124);


}
h1,h3,p,h2{
    text-align: center;
}
p{
    font-family: 'cultive mono';
}







