body{
    background-color: rgb(255, 255, 255);
    color:rgb(16, 27, 15);
    font-family: roboto,sans-serif;

}

p,h4
{

color:rgb(0, 0, 0);


}
h1,h3,p,h4{
    text-align: center;
}
p{
    font-family: montserrat;
   
}
footer{
    background-color: black;
    color: rgb(176, 191, 95);
    padding-top: 90px;
    padding-bottom: 10px ;
}
#madeby{
    margin-top: 9;
 
    font-family: roboto;
}
.downloads{
    text-align: left;
}
.card-text{
    text-align: left;
    
}