body{
    background-color: rgb(0, 0, 0);
    color:white;
    font-family: roboto,sans-serif;
}
p
{

color:rgb(14, 146, 124);

background-color:rgb(58, 113, 5);

}
h1,h3,p,h2{
    text-align: center;
}
p{
    font-family: 'cultive mono';
}
#food{
    letter-spacing: 2px;
}
#meal{
    border: 10px double maroon;
    padding: 5px;
    border-radius: 1000px;
    font-family: 'Press start 2p';
}
.fries{
    border: 10px double;
    border-radius: 1000px;
    padding: 2px;
}

img{
transition: transform 10s,border-color 10s;
border-color: red ;
}
img:hover {
    transform: translateX(100%);
border-color: green;

}
img:active{
    transform: translateY(-200%);
   border-color: blue;
    
}


textarea{
    font-family: 'press start 2p';
}
label{
    font-family: 'cultive mono' ;
}
label{

    font-family: roboto;
    transition: transform 1s ;
}
label:hover {
    transform:translateY(-20px);
    
}
