body{
    /* background-color: rgb(255, 255, 255); */
    color:rgb(16, 27, 15);
    font-family: roboto,sans-serif;
    transition: color 5s ease;
background-image: linear-gradient(grey, black);

}
text{
background-color: grey;
}
p,h4
{

color:rgb(0, 0, 0);


}
h1,h3,p,button{
    text-align: center;
}
p{
    font-family: montserrat;
   
}
footer{
    background-color: black;
    color: gold;

    margin-top: 20em;
    padding-top: 9px;
   
}
#madeby{
    margin-top: 9;
 
    font-family: roboto;
}
.downloads{
    text-align: left;
}
.card-text{
    text-align: left;
    
}
 .passcode {
     color: black;
 }

 #date{
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
 }

#link:hover{
    color: purple;
}
#Codesign{

text-align: left;
    height: 5em;
}
#Code{

    margin-left: 20em;
    height: 15em;
 width: 25em;

}
label{
    color:black;
}
#L1{
 margin-top: 10em;
 margin-bottom: 1em;
}

#L2{
    margin-left: 25em;
margin-top: 10em;
    margin-bottom: 1em;
}
#CB{
    height: 15em;
}
#L3{
    margin-top: 10em;
    margin-bottom: 1em;
}
audio{
   margin-left: 14em;
   margin-bottom: 5em;
   margin-top: 1em;
}
 